<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello EJS template engine</h1>
    <p><%= data%></p>
    <p><%= age%></p>
    <p><b>ที่อยู่ =</b><%- address%></p>
    <% if (age > 15) {%>
        <h1>pass</h1>
    <% } else {%>
        <h1>not pass</h1>
    <% }%>
    <hr>
    <% for(i=1;i<10;i++) {%>
        <h1>ลำดับที่ <%= i%> </h1>
    <% } %>

</body>
</html>